/* Other rules */
/* ----------------------HEADER------------------- */

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.logo {
  width: 83px;
  height: 40px;
}
/* ----------HERO--------- */
.relative {
  position: relative;
}

.heropic {
  width: 100vw;
  max-height: 450px;
  object-fit: cover;
}
/* --------CADRE sur HERO-------- */
.tabHero {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: white;
  width: 250px;
  height: 250px;
}

/* ----------------------PRODUCT------------------- */
.containCard {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row;
  max-width: 1180px;
}

/* -----CARD------- */
.card {
  display: flex;
  width: 235px;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  height: 500px;
}
.profilePic {
  height: 45px;
  border-radius: 50%;
}
.productPic {
  width: 235px;
  height: 438px;
  object-fit: cover;
  overflow: hidden;
}
.headOfCard {
  display: flex;
}
.productDescription {
  max-height: 22px;
  overflow: hidden;
}
.product-price {
  align-items: flex-end;
  justify-content: flex-end;
}
/* ----------------------FORM/SIGNUP------------------- */

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  justify-content: space-evenly;
  padding: 20px;
}
.inputForm {
  border: none;
  outline: none;
  border-bottom: 1px black solid;
  height: 40px;
}
.formcontain {
  border: 2px solid chartreuse;
  height: 100vh;
  align-items: center;
  display: flex;
}
.submitButton {
  background-color: #2cb1ba;
  width: 100%;
  border-radius: 5px;
  margin-top: 6px;
  border: none;
  color: white;
  height: 35px;
}
.newsletter {
  margin-top: 20px;
  width: 300px;
  color: grey;
}
.newsletter p {
  font-size: 0.8em;
}

/* ----------------------LOGIN------------------- */
