/* Other rules */
* {
  margin: 0 auto;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.containCard {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;

  flex-direction: row;
  max-width: 1180px;
}
.card {
  display: flex;
  width: 235px;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  height: 500px;
}
.profilePic {
  height: 45px;
  border-radius: 50%;
}
.productPic {
  width: 235px;
  height: 438px;
  object-fit: cover;
  overflow: hidden;
}
.headOfCard {
  /* border: 3px solid chartreuse; */
  display: flex;
}
.productDescription {
  max-height: 22px;
  overflow: hidden;
  /* border: solid 4px tomato; */
}
.product-price {
  align-items: flex-end;
  justify-content: flex-end;
  /* border: 4px solid salmon; */
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  justify-content: space-evenly;
  padding: 20px;
}
.inputForm {
  border: none;
  outline: none;
  border-bottom: 1px black solid;
  height: 40px;
}
.formcontain {
  border: 2px solid chartreuse;
  height: 100vh;
  align-items: center;
  display: flex;
}
.submitButton {
  background-color: #2cb1ba;
  width: 100%;
  border-radius: 5px;
  margin-top: 6px;
  border: none;
  color: white;
  height: 35px;
}
